#:schema node_modules/wrangler/config-schema.json
name = "roim-picx"
compatibility_date = "2024-11-01"
main = "worker/index.ts"

[build]
command = "npm run build"
watch_dir = ["src", "public", "functions", "worker", "index.html"]

[assets]
directory = "./dist"
binding = "ASSETS"
not_found_handling = "single-page-application"
run_worker_first = ["/rest/*"]

[[kv_namespaces]]
binding = "XK"
id = "YOUR_KV_NAMESPACE_ID"

[[r2_buckets]]
binding = "PICX"
bucket_name = "YOUR_R2_BUCKET_NAME"

[[d1_databases]]
binding = "DB"
database_name = "roim-picx-db"
database_id = "YOUR_D1_DATABASE_ID"

[vars]
BASE_URL = "https://your-domain.com"
PICX_AUTH_TOKEN = "123123"
ALLOW_TOKEN_LOGIN = "true"
STORAGE_TYPE = "R2"
